<div class="card my-4 bg-dark">
  <div class="card-body">
    <ng-container *ngFor="let filter of filters">
      <div class="card bg-dark text-white">
        <div class="card-header">
          <a data-bs-toggle="collapse" href="#filter{{filter.id}}" role="button" aria-expanded="false"
             aria-controls="collapseExample">
            {{ filter.name }}
          </a>
        </div>
        <div class="collapse" id="filter{{filter.id}}">
          <div class="card-body">
            <h5>
              Criteria
            </h5>
            <ng-container *ngFor="let criteria of filter.criteria">
              <p class="mb-2">
                "{{ displayType(criteria.type) }}",
                "{{ displayCondition(criteria.condition) }}",
                "{{ criteria.compareValue }}"
              </p>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="card-footer">
    <ng-container *ngIf="formVisible; else cardControls">
      <app-filter-create-dialog [modalMode]="modalMode"
                                (formSubmitEvent)="dialogSubmitted($event)"></app-filter-create-dialog>
    </ng-container>

    <ng-template #cardControls>
      <ng-container *ngIf="modalMode; else nonModalContent">
        <a class="btn btn-primary m-1" data-bs-toggle="modal" data-bs-target="#filterFormModal">Add Filter</a>
      </ng-container>

      <ng-template #nonModalContent>
        <a class="btn btn-primary m-1" (click)="openNonModal()">Add Filter</a>
      </ng-template>
      <div class="form-check form-check-inline m-1 align-middle">
        <input type="checkbox" class="form-check-input" [(ngModel)]="modalMode">
        <label class="form-check-label text-white">Modal</label>
      </div>
    </ng-template>
  </div>

  <div class="modal fade" id="filterFormModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-body">
          <app-filter-create-dialog [modalMode]="modalMode"
                                    (formSubmitEvent)="dialogSubmitted($event)"></app-filter-create-dialog>
        </div>
      </div>
    </div>
  </div>
</div>
