<div class="card my-4 bg-dark">
  <div class="card-body">
    <table class="table table-bordered table-striped table-dark">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Number of criteria</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let filter of filters">
        <td>{{ filter.id }}</td>
        <td>{{ filter.name }}</td>
        <td>{{ filter.criteria.length }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <ng-container *ngIf="formVisible; else cardControls">
      <app-filter-create-dialog [modalMode]="modalMode" (formSubmitEvent)="dialogSubmitted($event)"></app-filter-create-dialog>
    </ng-container>

    <ng-template #cardControls>
      <ng-container *ngIf="modalMode; else nonModalContent">
        <a class="btn btn-primary m-1" data-bs-toggle="modal" data-bs-target="#filterFormModal">Add Filter</a>
      </ng-container>

      <ng-template #nonModalContent>
        <a class="btn btn-primary m-1" (click)="openNonModal()">Add Filter</a>
      </ng-template>
      <div class="form-check form-check-inline m-1 align-middle">
        <input type="checkbox" class="form-check-input" [(ngModel)]="modalMode">
        <label class="form-check-label text-white">Modal</label>
      </div>
    </ng-template>
  </div>

  <div class="modal fade" id="filterFormModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-body">
          <app-filter-create-dialog [modalMode]="modalMode" (formSubmitEvent)="dialogSubmitted($event)"></app-filter-create-dialog>
        </div>
      </div>
    </div>
  </div>
</div>
