<div class="card bg-dark"
     [ngStyle]="style"
     mwlResizable
     [validateResize]="validate"
     [enableGhostResize]="true"
     (resizeEnd)="onResizeEnd($event)">
  <div class="card-header">
    <h4 class="text-white mb-1">Add Filter</h4>
  </div>
  <div class="card-body">
    <form #filterForm="ngForm">
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label text-white">Filter name</label>
        <div class="col-sm-5">
          <input type="text" [(ngModel)]="filter.name"
                 class="form-control"
                 id="name"
                 name="name" [ngClass]="{ 'is-invalid': name.invalid }"
                 required #name="ngModel">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label text-white">Criteria</label>
        <div class="col-sm-10">
          <div *ngFor="let criteria of filter.criteria; index as i">
            <div class="row my-2">
              <div class="col">
                <select class="form-select" [(ngModel)]="criteria.type" (change)="typeChanged(criteria)"
                        name="criteriaType{{i}}"
                        #criteriaType="ngModel">
                  <option *ngFor="let type of criteriaTypes | keyvalue" [value]="type.value">
                    {{displayType(type.value)}}
                  </option>
                </select>
              </div>
              <div class="col">
                <select class="form-select" [(ngModel)]="criteria.condition"
                        name="criteriaCondition{{i}}"
                        #criteriaCondition="ngModel">
                  <option *ngFor="let condition of criteriaConditionsFor(criteria.type)" [value]="condition">
                    {{displayCondition(condition)}}
                  </option>
                </select>
              </div>
              <div class="col form-group">
                <ng-container *ngIf="criteria.type == 'AMOUNT'">
                  <input type="number" [(ngModel)]="criteria.compareValue"
                         class="form-control"
                         name="criteriaValue{{i}}" [ngClass]="{ 'is-invalid': criteriaValue.invalid }"
                         required #criteriaValue="ngModel">
                </ng-container>
                <ng-container *ngIf="criteria.type == 'DATE'">
                  <div class="input-group">
                    <input [(ngModel)]="criteria.compareValue"
                      class="form-control"
                      placeholder="dd/mm/yyyy"
                      name="criteriaValue{{i}}" [ngClass]="{ 'is-invalid': criteriaValue.invalid }"
                      ngbDatepicker required #criteriaValue="ngModel"
                      #d="ngbDatepicker"
                    />
                    <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                        <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                        <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
                      </svg>
                    </button>
                  </div>
                </ng-container>
                <ng-container *ngIf="criteria.type == 'TITLE'">
                  <input type="text" [(ngModel)]="criteria.compareValue"
                         class="form-control"
                         name="criteriaValue{{i}}" [ngClass]="{ 'is-invalid': criteriaValue.invalid }"
                         required #criteriaValue="ngModel">
                </ng-container>
              </div>
              <div class="col-1">
                <button type="button" [disabled]="!canRemoveCriteria()"
                        class="btn btn-secondary"
                        (click)="removeCriteria(criteria)">−
                </button>
              </div>
              <div class="col-1"></div>
            </div>
          </div>
          <div class="row my-2">
            <div class="col"></div>
            <div class="col-1">
              <button type="button" class="btn btn-primary" (click)="addCriteria()">+</button>
            </div>
            <div class="col-1"></div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer d-flex justify-content-end">
    <ng-container *ngIf="modalMode; else nonModalControls">
      <button type="button" class="btn btn-secondary m-1" data-bs-dismiss="modal">Close</button>
      <button type="button" [disabled]="!filterForm.form.valid"
              class="btn btn-primary m-1"
              data-bs-dismiss="modal" (click)="onSubmit()">Save
      </button>
    </ng-container>

    <ng-template #nonModalControls>
      <button type="button" class="btn btn-secondary m-1" (click)="onClose()">Close</button>
      <button type="button" [disabled]="!filterForm.form.valid"
              class="btn btn-primary m-1"
              (click)="onSubmit()">Save
      </button>
    </ng-template>
  </div>

  <div
    class="resize-handle-bottom text-white"
    mwlResizeHandle
    [resizeEdges]="{ bottom: true }"
  >
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z"/>
    </svg>
  </div>
</div>
